<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Optiflow</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>📖 Opti<span>flow</span></h1>
    </header>
    <main>
      <div class="container-input">
        <input
          id="task-input"
          type="text"
          placeholder="Hit Text"
          autocomplete="off"
        />
        <div class="btn-act">
          <button id="add-task" class="btn-fill">Hit</button>
          <button id="remove-text" class="btn-outline">Erase</button>
        </div>
      </div>
      <div class="container-list">
        <div class="items">
          <p>Task1</p>
          <div class="btn-checklist">
            <button class="done">V</button>
            <button class="cancel">X</button>
          </div>
        </div>
      </div>
      <div class="container-list">
        <div class="items">
          <p>Task1</p>
          <div class="btn-checklist">
            <button class="done">V</button>
            <button class="cancel">X</button>
          </div>
        </div>
      </div>
      <div class="container-list">
        <div class="items">
          <p>Task1</p>
          <div class="btn-checklist">
            <button class="done">V</button>
            <button class="cancel">X</button>
          </div>
        </div>
      </div>
      <a href="#" onclick="removeAll()">🗑️ Throw All Away</a>
    </main>
    <footer>
      <h1>
        Push your productivity until <br />
        <span>you get the luck.</span>
      </h1>
    </footer>

    <script src="./script.js"></script>
  </body>
</html>
